@charset "utf-8";
/* CSS Document */

section{
	width: 960px;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
	font-size: 14px;
	line-height: 25px;
	background-image: url(images/text_bg540x399.jpg);
	position: relative;
	top: 0px;
	color: #FFF;
}