@charset "UTF-8";
/* CSS Document */
aside {
	ul: Helvetica, sans-serif;
	font-size: 14px;
	line-height: 20px;
	color: #fff;
	float: left;
	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
	position: relative;
	height: 2750px;
	width: 300px;
	background-color: #5f9876;
	margin-top: 80px;
}

aside ul{
	font-family: helvetica, gill sans, myriad pro, sans-serif;
}

section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	background-image: url(images/text_bg540x399.jpg);
	width: auto;
	position: relative;
	top: 80px;
	color: #000;
	left: 30px;
	height: 399px;
	padding-right: 20px;
}