@charset "UTF-8";
/* CSS Document */


aside ul{
	font-family: helvetica, gill sans, myriad pro, sans-serif;
}

section {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	line-height: 25px;
	background-image: url(images/text_bg540x399.jpg);
	position: absolute;
	top: 140px;
	color: #000;
	width: auto;
	left: 370px;
	height: 399px;
	padding-right:20px;
}

a:link {
	color: #fff;
}
a:visited {
	color: #fff;
}
a:hover {
	color: #29563b;
}
a:active {
	color: #fff;
}
