@charset "UTF-8";
/* CSS Document */
section {
	align-content: center;
	margin-top: 105px;
}


#support {
	margin-right: 20%;
	margin-left: 20%;
}

#fundraisers {
	background-color: #5f9876;
	text-color: #FFF;
	align-content: center;
	padding-left: 10%;
	padding-right: 10%;
}

h1 {
	text-color: #FFF;
	font-family: Rockwell, serif;
	text-align: center;
}