@charset "utf-8";
/* CSS Document */

#wrapper {
	width: 960px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: relative;
	list-style-type: none;
}
header {
	height: 250px;
	width: 960px;	
	
}


nav {
    height: 100px;
    width: 960px;
    padding-top: 5px;
    padding-right: 5px;
    padding-left: 5px;
    padding-bottom: 5px;
	color: #FFFFFF;
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}
li {
	float: left;
	width: 210px;
	text-align:center
}
ul {
	width: 920px;
	margin: auto;
	list-style: none;
	background-color: #000;
	padding-top: 10px;
	padding-bottom: 15px;
	height: 10px
}
nav a:link {
	color: #FFF;
	text-decoration: none;
}
nav a:visited {
    color: #FFF;
}
nav a:hover {
    color: #C7C7C7;
}
nav a:active {
    color: #C7C7C7;

}

section{
	font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
}

footer {
    position: relative;
    font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif";
    float: left;

}

